<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="microsoft.visualstudio.qualitytools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <microsoft.visualstudio.qualitytools>
    <dataSources>
      <add name="DirectApplication" connectionString="CaptureX" dataTableName="DirectApplication$" dataAccessMethod="Sequential" />
      <add name="DealerApplication" connectionString="CaptureX" dataTableName="DealerApplication$" dataAccessMethod="Sequential" />
      <add name="AcceptCreditDeal" connectionString="CaptureX" dataTableName="AcceptCreditDeal$" dataAccessMethod="Sequential" />
      <add name="VerifyPurchase" connectionString="CaptureX" dataTableName="VerifyPurchase$" dataAccessMethod="Sequential" />
      <add name="PurchaseFromComplete" connectionString="CaptureX" dataTableName="PurchaseFromComplete$" dataAccessMethod="Sequential" />
      <add name="AdditionalCardholder" connectionString="CaptureX" dataTableName="AdditionalCardholder$" dataAccessMethod="Sequential" />
      <add name="QuoteAndResume" connectionString="CaptureX" dataTableName="QuoteAndResume$" dataAccessMethod="Sequential" />
      <add name="GlobalRez" connectionString="CaptureX" dataTableName="GlobalRez$" dataAccessMethod="Sequential" />
      <add name="LombardPurchase" connectionString="CaptureX" dataTableName="LombardPurchase$" dataAccessMethod="Sequential" />
      <add name="IncreasePrice" connectionString="CaptureX" dataTableName="IncreasePrice$" dataAccessMethod="Sequential" />
      <add name="Quote" connectionString="CaptureX" dataTableName="Quote$" dataAccessMethod="Sequential" />
      <add name="IfolAppAndPurch" connectionString="CaptureX" dataTableName="IfolAppAndPurch$" dataAccessMethod="Sequential" />
      <add name="IfolSkyePurchase" connectionString="CaptureX" dataTableName="IfolSkyePurchase$" dataAccessMethod="Sequential" />
      <add name="IfolLombardPurchase" connectionString="CaptureX" dataTableName="IfolLombardPurchase$" dataAccessMethod="Sequential" />
      <add name="ProgressPayment" connectionString="CaptureX" dataTableName="ProgressPayment$" dataAccessMethod="Sequential" />
      <add name="SkyePurchase" connectionString="CaptureX" dataTableName="SkyePurchase$" dataAccessMethod="Sequential" />
      <add name="QuoteAndApplication" connectionString="CaptureX" dataTableName="QuoteAndApplication$" dataAccessMethod="Sequential" />
      <add name="JointApp" connectionString="CaptureX" dataTableName="JointApp$" dataAccessMethod="Sequential" />
      <add name="CRO" connectionString="CaptureX" dataTableName="CRO$" dataAccessMethod="Sequential" />
      <add name="BuyerCheckout" connectionString="LeaseX" dataTableName="Buyer$" dataAccessMethod="Sequential" />
      <add name="SellerCheckout" connectionString="LeaseX" dataTableName="Seller$" dataAccessMethod="Sequential" />
      <add name="HummLogin" connectionString="Humm" dataTableName="Login$" dataAccessMethod="Sequential" />
      <add name="WebsiteFix" connectionString="HummCorporate" dataTableName="Fix$" dataAccessMethod="Sequential" />
      <add name="SKYELogin" connectionString="SKYEMaster" dataTableName="Login$" dataAccessMethod="Sequential" />
      <add name="Commercial" connectionString="CRM" dataTableName="Commercial$" dataAccessMethod="Sequential" />
      <add name="Individual" connectionString="CRM" dataTableName="Individual$" dataAccessMethod="Sequential" />
      <add name="LittleThings" connectionString="Humm" dataTableName="LittleThingsShoppingCart$" dataAccessMethod="Sequential" />
      <add name="BuyerPortal" connectionString="Humm" dataTableName="BuyerPortal$" dataAccessMethod="Sequential" />
      <add name="BigThings" connectionString="Humm" dataTableName="BigThingsShoppingCart$" dataAccessMethod="Sequential" />
      <add name="HummLicense" connectionString="Humm" dataTableName="HummLicense$" dataAccessMethod="Sequential" />
      <add name="HummMedicare" connectionString="Humm" dataTableName="HummMedicare$" dataAccessMethod="Sequential" />
      <add name="HummPassport" connectionString="Humm" dataTableName="HummPassport$" dataAccessMethod="Sequential" />
      <add name="Settings" connectionString="Humm" dataTableName="Settings" dataAccessMethod="Sequential" />
      <add name="Payment" connectionString="Humm" dataTableName="Payment" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.qualitytools>
  <connectionStrings>
    <add name="CaptureX" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\CaptureXpress\\TestData\\CaptureXpress.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
    <add name="SKYEMaster" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\SKYEMastercard\\TestData\\SKYEMastercard.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
    <add name="CRM" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\Commercial\\TestData\\Commercial.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
    <add name="LeaseX" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\LeaseXpress\\TestData\\LeaseXpress.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
    <add name="Humm" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\Humm\\TestData\\Humm.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
    <add name="HummCorporate" providerName="System.Data.OleDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=.\\Humm\\TestData\\Website.xlsx; Extended Properties='Excel 12.0;HDR=yes';" />
  </connectionStrings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="ImmediateFlush" value="true">
      </param>
      <file value=".\\Logs\\CaptureLogs\\capturelog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        <!--   <conversionPattern value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" /> -->
        <!--   <conversionPattern value="%-5p%d{ yyyy-MM-dd HH:mm:ss} – [%thread] %m method:%method %n stacktrace:%stacktrace{5} %n type:%type %n line: %line %n" /> -->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="console" />
    </root>
  </log4net>
  <appSettings>
    <add key="log4net.Internal.Debug" value="True" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="CaptureXUrl" value="https://cxskyesit.flexicards.com.au" />
    <add key="LeaseXUrl" value="https://leasexpresssit.onceonline.com.au" />
    <add key="Ifol" value="http://capturesit/ipl_service/loadapplication_ifol.aspx?redirect=true" />
    <add key="CRMUrl" value="https://flexigroupuat.crm6.dynamics.com" />
    <add key="AvokaUrl" value="https://uat.flexigroup.transactcentral.com/commercial/servlet/SmartForm.html?formCode=flexicommgeneric"/>
    <add key="HummShoppingCartUAT" value="https://test2-cart.shophumm.co.nz/Test" />
    <add key="HummShoppingCartSIT" value="https://test2-cart.shophumm.co.nz/Test" />
    <add key="HummBuyerPortalSIT" value="https://test2-buyer.shophumm.co.nz/" />
    <add key="user" value="arunpopli1" />
    <add key="key" value="mswH7Mg1LgScRj8vk6E4" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DecisionWebGatewaySoap" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="GoldManagerWSPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="GoldManagerWSPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--http://capturecsp/inteport/decisiongateway.asmx-->
      <endpoint address="http://capturesit/inteport/decisiongateway.asmx" binding="basicHttpBinding" bindingConfiguration="DecisionWebGatewaySoap" contract="DecisionWebGateway.DecisionWebGatewaySoap" name="DecisionWebGatewaySoap" />
      <endpoint address="https://10.193.10.179:8812/GoldManager/GoldManagerWS" binding="basicHttpBinding" bindingConfiguration="GoldManagerWSPortBinding" contract="GoldManagerGateway.GoldManagerWS" name="GoldManagerWSPort" />
    </client>
  </system.serviceModel>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>